*.py[cod]

# C extensions
*.so

# Packages
*.egg
*.egg-info
bin
dist
docs/_build
build
elasticsearch
include
man
lib
lib64
sdist

# Installer
.pip_cache
pip-log.txt

# Unit test / coverage reports
.coverage
coverage.xml
nosetests.xml

# vim
*.un~
